*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: urbanist, sans-serif;
}


.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px; */
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}
.main-nav{
    padding-right: 70px;
    border-right: 1px solid hsla(0, 0%, 77%, .55);
    padding-right: 70px;
    height: 90px;
    padding-top: 33px;
}
.logo{
    display: flex;
    border-right: 1px solid hsla(0, 0%, 77%, .55);
    padding-right: 70px;
    height: 90px;
}
.logo img{
    height: 60px;
    margin: 14px;
    margin-right: 0px;
    padding-left: 40px;
}
.logo h2{
    font-size: 2.4rem;
    padding-top: 1.2rem;
    font-weight: 600;
    

}



.nav-list{
    display: flex;
    gap: 3rem;
}

.nav-list li{
    list-style: none;
}
.nav-list li a{
    color: #333;
    text-decoration: none;
    font-size: 1.125rem;
}

.btn1{
    padding: 1rem 3rem;
    border: 1px solid rgba(0, 0, 0, .35);
    border-radius: 5px;
    font-size: 1.25rem;
    margin-right: 3rem;
    background-color: white;
}
.hero{
    background-image: url(HeroImage.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-content{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}
.hero h1{
    font-size: 60px;
    font-style: italic;
    color: white;
    padding-top: 165px;
    padding-left: 42px;
    letter-spacing: -2px;
    line-height: 1.2;
}

.hero h4{
    color: white;
    font-size: 18px;
    padding-top: 4px;
    padding-left: 40px;
    font-weight: 200;
}

.btn2{
    margin: 38px;
    padding: 9px 21px;
    border-radius: 6px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: rgb(55 125 255);
    color: white;
}

.ex-div{
    height: 215px;
}

.section3{
    padding: 40px 0;
    padding-bottom: 80px;
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;

}

.sec3-container{
    display: flex;
    gap: 95px;
}

.sec3-text h2{
    padding-top: 130px;
    padding-left: 150px;
    font-size: 48px;
    line-height: 1;
}

.sec3-text p{
    padding-left: 150px;
    padding-top: 25px;
    font-size: 1.175rem;
    line-height: 1.75rem;
}

.sec3-img{
    padding-top: 116px;
}

.btn3{
    margin-left: 147px;
    margin-top: 24px;
    padding: 8px 28px; 
    border-radius: 6px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: rgb(55 125 255);
    color: white;
}

.ex-div2{
    width: 65px;
    height: 5px;
    background-color: orange;
    margin-left: 150px;
    margin-top: 27px;
}



.logo-imgs{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 110px;
    gap: 40px;
    opacity: 55%;
}

.logo-text{
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.logo-text span{
    font-weight: 500;
    cursor: pointer;
}

.icon-arr{
    height: 40px;
    margin-top: -10px;
    padding-left: 15px;
    cursor: pointer;

}

.section4{
    background-image: url(https://www.stellarstack.co/images/aboutus/aboutusBgimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section4-con{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}


.sec4-content{
    display: flex;
    gap: 108px;
}

.sec4-content h3{
    padding-top: 303px;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    padding-left: 133px;
    color: white;
}

.sec4-content p{
    padding-top: 303px;
    padding-left: 133px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
}

.ex-div4{
    width: 85px;
    height: 10px;
    background-color: orange;
    margin-left: 133px;
}

.ex-div5{
    padding: 70px 0;
}

.section5{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}

.card-temp{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
 .card1{
    background-image: url(swirls.svg);
    background-repeat: no-repeat;
    background-color: #1e013a;
    background-size: 120%; /* Increase size to 200% of the element's dimensions */
    background-position: center; /* Ensure the image is centered */
    height: 560px;
    width: 520px;
    border-radius: 35px;
    
 }

 .card1 p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: start;
    color: white;
    padding: 42px 64px;
    font-weight: 700;
 }

 .card1 h1{
    font-size: 65px;
    line-height: 1;
    text-align: start;
    color: #727272;
    padding: 0 60px;
 }
 .card1 h4{
    padding-top: 47px;
    color: white;
    font-weight: 300;
    padding: 16px 53px;
 }

 .sp1{
    font-size: 65px;
    line-height: 1;
    text-align: start;
    color: white;
 }

 .card-btn{
    margin-left: 46px;
    padding: 8px 36px;
    border-radius: 6px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: rgb(55 125 255);
    color: white;
}

.card2{
    background-image: url(bg.svg);
    background-repeat: no-repeat;
    background-size: 120%; /* Increase size to 200% of the element's dimensions */
    background-position: center; /* Ensure the image is centered */
    height: 560px;
    width: 520px;
    border-radius: 35px;
    
 }

 .card2 p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: start;
    color: rgb(55 125 255);
    padding: 42px 64px;
    font-weight: 900;
 }

 .card2 h1{
    font-size: 65px;
    line-height: 1;
    text-align: start;
    color: black;
    padding: 0 60px;
 }
 .card2 h4{
    padding-top: 47px;
    color: black;
    font-weight: 300;
    padding: 16px 53px;
 }

 .sp2{
    font-size: 65px;
    line-height: 1;
    text-align: start;
    color: rgb(55 125 255);
 }

 .section6{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}

 .services-temp{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
 }
 .section6-text{
    text-align: center;
    padding: 80px;
 }
 .section6-text p{
    font-size: 1.25rem;
    color: rgb(55 125 255);
 }

 .section6-text h2{
    font-size: 65px;
    line-height: 1;
    font-weight: 700;
 }

 .image-container{
    padding-bottom: 0px;
    margin-bottom: -50px;
 }
.img-top {
    z-index: 1; 
}

.img-front {
    
    transform: translate(144%, -68%); 
    z-index: 2; 
}
.ser-h2-text{
    font-size: 24px;
    color: black;
    font-weight: 600;
    text-align: center;
}

.ser-h3-text{
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 24px 0;
}

.ser-p-text{
    color: black;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}


.services-card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    flex: 1; 
    max-width: 30%; 
    min-height: 500px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.ser-btn {
    margin-top: 60px; 
    padding: 10px 20px;
    background-color: #0072ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ex-div6{
    padding-bottom: 100px;
}
.section7-bg{
    background-image: url(https://www.stellarstack.co/images/wework/elipse.svg);
    background-size:cover;
    background-repeat: no-repeat;
}
.section7-content{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}
.s7-text1{
    text-align: center;
    font-size: 60px;
}
.s7-text2{
    text-align: center;
    font-size: 60px;
    line-height: 1;
    opacity: 50%;
    margin-right: 200px;
}
.s7-text3{
    text-align: center;
    font-size: 60px;
    line-height: 1;
    opacity: 25%;
    padding-bottom: 85px;
}
.review-cards{
    display: flex;
    justify-content: space-around;
    padding: 0 38px
}
.rev-card{
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-text1 p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: rgba(54, 54, 54, .75);
    border-bottom: 1px solid black;
    padding-bottom: 70px;
}
.review-text2 p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: rgba(54, 54, 54, .75);
    border-bottom: 1px solid black;
    padding-bottom: 42px;
}
.review-text3 p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: rgba(54, 54, 54, .75);
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.r-name{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.title h4{
    font-size: 11px;
    color: #545353;
    padding-top: 7px;
}
.star-img1{
    height: 17px;
    margin-left: 42px;
    margin-top: 5px;
}
.star-img2{
    height: 17px;
    margin-left: -50px;
    margin-top: 3px;
}
.star-img3{
    height: 17px;
    margin-left: 50px;
    margin-top: 4px;
}

.section8-container{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}

.section8-content h2{
    text-align: center;
    font-size: 60px;
    padding-top: 105px;
}

.section8 h4{
    text-align: center;
    padding: 70px 0;
    font-size: 25px;
    font-weight: 200;
}

.section8 img{
    width: 88%;
    margin-left: 82px;
}
.section9{
    padding: 200px 0px;
}

.section9-container{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}

.sec9-text-img{
    display: flex;
}

.section9-content p{
    text-align: center;
    color: rgb(173 173 173);
    letter-spacing: 14px;
    font-weight: 600;
    font-size: 13px;
}

.sec9-text-img{
    justify-content: center;
    padding-top: 54px;
}

.sec9-text-img h3{
    font-size: 56px;
    color: rgb(54 54 54);
    font-weight: 600;

}
.sec9-text-img img{
    padding: 15px;
    width: 20%;
}

.ex-div7{
    height: 8px;
    width: 100px;
    background-color: orange;
    margin-left: 615px;
    margin-bottom: 40px;
}

.call-btn{
    margin-left: 582px;
    padding: 8px 36px;
    border-radius: 6px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: rgb(55 125 255);
    color: white;

}
.footer{
    background-color: rgb(24 18 43);
    padding: 100px 70px;
}

.footer-content{
    margin: 0 auto;
    max-width: 100%;
    width: 1350px;
}

.footer-text{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}
.footer-nav {
    list-style: none;
    color: white;
}

.footer-nav a{
    text-decoration: none;
    color: white;
}

.a-1 h3{
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: 600;
    margin-bottom: 5rem;
}
.a-2{
    padding-left: 380px;
    font-size: 20px;
    line-height: 3;
}
.a-3{
    padding-left: 200px;
    font-size: 20px;
    line-height: 3;
}
.footer-2-text{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.add{
    color: white;
    font-size: 18px;
    line-height: 2;
}
.sec-text-flex{
    padding-top: 80px;
}
.pp{
    border-right: 2px solid white;
    font-size: 18px;
}
.ps{
    padding-left: 5px;
    font-size: 18px;
}
.pt{
    padding-left: 100px;
    padding-top: 10px;
    font-size: 18px;
    color: white;
}

.a-1 a{
    height: 90px;
}

.social-media-icon{
    height: 90px;
}
